<h2>{{title}}</h2>
Estoy renderizando esto
<form action="/celebrities/edit/{{celebrity._id}}" method="POST">
    <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="name" name="name" value="{{celebrity.name}}">
    </div>

    <div class="form-group">
        <label for="occupation">Genre</label>
        <input type="text" class="form-control" id="occupation" name="occupation" value="{{celebrity.occupation}}">
    </div>
    
    <div class="form-group">
        <label for="catchPhrase">Plot</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" value="{{celebrity.catchPhrase}}">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Edit</button>
</form>
